.dialog {
  min-width: 15rem;
  min-height: 5rem;
}

.container--login {
  margin-top: 3em;
  color: black;
  /* position: absolute; */
  z-index: 50;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  margin-left: 3em;
}
.container--login fieldset {
  width: 500px
}

